<div class="blog_right_sidebar">
    <aside class="single_sidebar_widget search_widget">
        <form action="{{ path('blog') }}">
            <div class="input-group">
                <input type="text" class="form-control" name="search" value="{{ app.request.get('search') }}" placeholder="Search Blog">
                <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="lnr lnr-magnifier"></i></button>
            </span>
            </div>
            <div class="br"></div>
        </form>
    </aside>
</div>
